.App-main {
  font-family: "Open Sans", sans-serif;
}

.App-dark {
  color: #fff;
  background-color: #222;
}

.App-light {
  color: #000;
  background-color: #fff;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
